USE [master]
GO
/****** Object:  Database [NotificationDB]    Script Date: 1/13/2024 10:38:46 PM ******/
CREATE DATABASE [NotificationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotificationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NotificationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotificationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NotificationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotificationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotificationDB]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 1/13/2024 10:38:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[TelegramNotificationId] [bigint] NULL,
	[TelegramUserId] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserId], [UserName], [PhoneNumber], [TelegramNotificationId], [TelegramUserId]) VALUES (1, N'Shaon', N'+8801745427269', 6189079292, 6189079292)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
USE [master]
GO
